{% extends "base.html" %}
{% block content %}
    <h3>Detalle de Producto</h3>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ producto.image_url }}" alt="{{ producto.name }}" class="img-thumbnail image-detail">
        </div>
        <div class="col-md-6">
            <div class="image-info">                    
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th class="col">Tienda</th>
                            <th class="col">Precio Normal</th>
                            <th class="col">Precio Oferta</th>
                        </tr>                
                    </thead>
                    <tbody>
                        {% for prod in lista %}
                        <tr>
                            <th scope="row">{{ prod.code }}</th>
                            <td>{{ prod.store }}</td>
                            <td>{{ prod.price }}</td>
                            <td>{{ prod.discount_price }}</td>
                        </tr>                    
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>  
{% endblock content %}