{% extends "base.html" %}
{% load static %}
{% block content %}
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" method="GET" accept-charset="utf-8" >
            <input id="searchBox" name="productName" class="form-control mr-sm-2 justify-content-center" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </nav>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Tipo</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            {% for t in type_list %}
                <option value="{{ t.id }}">{{ t.name }}</option>
            {% endfor %}
        </select>
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Marca</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            {% for b in brand_list %}
                <option value="{{ b.id }}">{{ b.name }}</option>
            {% endfor %}
        </select>
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Modelo</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            {% for m in models_list %}
                <option value="{{ m.id }}">{{ m.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="container-fluid">
        <div class="card-columns">
            {% for p in products %}
                <div class="card" style="width:18rem;">
                    <img src="{% static 'images/' %}{{p.principalCode}}.jpg" class="card-img-top" alt="{{ p.name }}">
                    <div class="card-body">
                        <h6 class="card-title">{{ p.name }}</h6>
                        <a href="{{ p.principalCode }}" class="page-link">Detalle</a>
                    </div>
                </div>
            {% endfor %}
        </div>        
    </div>   
{% endblock content %}
